image:
  repository: drakarionaksacr.azurecr.io/web
  tag: "v1"                 # CI/Jenkins будут менять
  pullPolicy: IfNotPresent
service:
  type: LoadBalancer
  port: 80
  targetPort: 3000
env:
  API_URL: "http://api-svc:3001"
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70