apiVersion: v1
kind: Service
metadata:
  name: web-service
spec:
  type: {{ .Values.service.type }}
  selector:
    app: web
  ports:
- port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP