apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  labels: { app: api }
spec:
  replicas: 1
  selector:
    matchLabels: { app: api }
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels: { app: api }
    spec:
      # Если сделал --attach-acr, этот блок можно убрать
      imagePullSecrets:
        - name: acr-auth
      containers:
        - name: api
          image: elizadevopsacr.azurecr.io/api:v1
          ports:
            - containerPort: 3001
          envFrom:
            - configMapRef: { name: api-config }
            - secretRef:    { name: api-secret }
          env:
            - name: PORT
              value: "3001"
            - name: HOST
              value: "0.0.0.0"
          readinessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 15
            periodSeconds: 10
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 30
            periodSeconds: 20
            failureThreshold: 6
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
# ========== WEB ==========
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
  labels: { app: web }
spec:
  replicas: 1
  selector:
    matchLabels: { app: web }
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels: { app: web }
    spec:
      # Если сделал --attach-acr, этот блок можно убрать
      imagePullSecrets:
        - name: acr-auth
      containers:
        - name: web
          image: elizadevopsacr.azurecr.io/web:v1
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef: { name: web-config }
            - secretRef:    { name: web-secret }
          env:
            - name: PORT
              value: "3000"
            - name: HOST
              value: "0.0.0.0"
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 20
            failureThreshold: 6
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"









